/* 初始化页面 */

* {
    padding: 0;
    margin: 0;
}

a:hover,
a:active,
a:link,
a:visited {
    text-decoration: none;
}

ul,
li,
ol,
dl {
    list-style-type: none;
}


/* 头部 */

header {
    position: absolute;
    top: 0px;
    z-index: 500;
    width: 100%;
}


/* 媒体查询 */

@media screen and (min-width: 2048px) {
    header {
        width: 1920px;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}


/* 左边logo */

header .logo {
    margin-left: 2em;
    margin-top: 2.5em;
    position: relative;
    top: 0;
    z-index: 5;
}


/* 右边导航 */

header .header {
    width: 75%;
    height: 70px;
    position: relative;
    top: 0;
    z-index: 5;
}

header .header nav ul li {
    width: 9%;
    height: 5em;
    display: inline-block;
    text-align: center;
}


/* 媒体查询 */

@media screen and (min-width: 1480px) {
    header .header nav ul li {
        width: 9.5%;
    }
}

header.theme-dark .header nav a {
    /* color: #666; */
    color: white;
}

header .header nav ul li:hover a {
    color: #0d396c;
}

.theme-dark-active {
    background-color: #fff;
}

header .header nav ul li a {
    display: inline-block;
    margin-top: 2.25em;
    height: 2.75em;
    text-decoration: none;
}


/* 搜索按钮 */

header .header nav ul li.zoom {
    width: 2em;
}


/* 侧边栏 */

.site-assistant {
    width: 77px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.site-assistant .assistant-switch {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 77px;
    height: 78px;
    z-index: 1;
}


/* 侧边一级隐藏栏 */

.site-assistant ul {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    z-index: 5;
    display: none;
    background: rgba(255, 255, 255, .8);
    transition: all 1s linear;
}

.site-assistant ul li {
    font-size: .5em;
    text-align: center;
    padding: 1em .5em;
    position: relative;
}

.site-assistant ul li a {
    display: block;
    border-bottom: 1px dashed #647b99;
    padding-bottom: .5em;
    color: #000;
    position: relative;
    z-index: 1;
}

.site-assistant ul li a img {
    margin-bottom: .8em;
}


/* 二级隐藏栏 */

.site-assistant ul li .assistant-banner-pop {
    position: absolute;
    right: 80px;
    top: 0;
    width: 202px;
    text-align: left;
    display: none;
    z-index: 2;
}

.assistant-banner-pop a img {
    width: 200px;
}

.site-assistant ul li .assistant-banner-pop a {
    display: block;
    width: 200px;
    padding: 0;
    border-style: none;
    overflow: hidden;
    line-height: 0;
}

.site-assistant ul li .assistant-banner-pop a img {
    float: left;
    display: block;
    margin: 0;
}

.site-assistant ul li .assistant-banner-pop a:nth-child(n+2) {
    margin-top: 3px;
}

.site-assistant ul li .assistant-wechat-pop {
    position: absolute;
    right: 100px;
    top: -5px;
    width: 77px;
    z-index: 2;
    display: none;
    opacity: 1;
}

.site-assistant ul li .assistant-wechat-pop a {
    float: left;
    width: 95px;
    padding: 0;
    border-style: none;
    overflow: hidden;
    line-height: 5px;
    vertical-align: middle;
    margin-bottom: .5em;
}

.site-assistant ul li .assistant-wechat-pop a img {
    float: left;
    display: block;
}

.header .site-assistant ul li .noneB {
    border-bottom: none;
}


/* 当鼠标移到对应的侧边栏的时候，它二级隐藏对应的内容会显示 */

.assistant-switch-none1:hover+.assistant-banner-pop {
    display: block;
}

.assistant-switch-none2:hover+.assistant-wechat-pop {
    display: block;
}


/* 头部的隐藏栏 
 明星系列隐藏栏 */

header .docker-container1,
header .docker-container3 {
    position: absolute;
    top: 70px;
    left: 30%;
    width: 600px;
    height: 0;
    overflow: hidden;
    line-height: 70px;
    text-align: center;
    z-index: 2;
    opacity: .9;
}

header .docker-container3 {
    left: 40%;
}

.docker-container1 li a span:first-child {
    display: inline-block;
    width: 45px;
    height: 30px;
    background: url(../images/bg-nav-selection.png) no-repeat 17px -28px;
    vertical-align: middle;
}

.docker-container1 li a {
    color: #666;
}


/* 产品一览隐藏栏*/

.docker-container2 {
    position: absolute;
    top: 70px;
    left: 30%;
    width: 800px;
    text-align: center;
    height: 0;
    overflow: hidden;
    line-height: 5em;
    z-index: 2;
    opacity: .9;
}

.docker-container2 li {
    line-height: 2em;
}

.docker-container2 li a {
    color: #666;
}

.docker-container2 li img {
    width: 103px;
}

.docker-container2 li h5 {
    color: #0d3960;
    border-right: 1px dashed #0d3960;
}

.docker-container2-pa,
.docker-container1-pa,
.docker-container3-pa {
    width: 100%;
    background-color: #f2f2f2;
    /* background-color: rgba(233, 227, 227, 0.5); */
    height: 0;
    overflow: hidden;
}


/* 技术服务隐藏栏 */

.docker-container3 li a span:first-child {
    display: inline-block;
    width: 45px;
    height: 30px;
    background: url(../images/bg-nav-tas.png) no-repeat 17px -28px;
    vertical-align: middle;
}

.docker-container3 li a {
    color: #666;
}


/* 尾部 */


/* 尾部 */


/* 尾部 */

footer {
    background-color: #f6f6f6;
    padding: 4.5em 15%;
    color: #8d898c;
}

footer .container {
    width: 950px;
}

footer .footer-nav li {
    line-height: 1.75em;
    height: 1.75em;
    font-size: .85em;
}

footer .footer-nav .footer-logo {
    width: 192px;
    margin-bottom: 1.25em;
}

footer .footer-nav p.tel {
    font-size: 1.75em;
}


/* 关注我们 */

footer .footer-nav .footer-social p {
    width: 5em;
    height: 23px;
    float: left;
    line-height: 170%;
}

footer .footer-nav .footer-social .social-wechat {
    width: 23px;
    height: 23px;
    float: left;
    position: relative;
    z-index: 2;
}

footer a {
    color: #8d898c;
}

footer .footer-nav .footer-social .social-wechat a {
    width: 23px;
    height: 23px;
    position: relative;
    z-index: 1;
    display: inline-block;
    background: url(../images/icon-footer-social.png) no-repeat 0 0;
    text-indent: -100em;
}

footer .footer-nav .footer-social .social-weibo a {
    width: 23px;
    height: 23px;
    position: relative;
    z-index: 1;
    display: inline-block;
    background: url(../images/icon-footer-social.png) no-repeat 0px 0;
    text-indent: -100em;
}

footer .footer-nav .footer-social .social-wechat .social-wechat-pop {
    display: none;
    position: absolute;
    width: 200px;
    height: 230px;
    bottom: 0;
    left: -86px;
}

footer .footer-nav .footer-social .social-weibo {
    margin-left: .5em;
}

footer .footer-nav .footer-social .social-wechat,
footer .footer-nav .footer-social .social-weibo {
    width: 23px;
    height: 23px;
    float: left;
    position: relative;
    z-index: 2;
}


/* 版权 */

footer .copyright {
    margin-top: 2em;
    font-size: .85em;
}

footer .copyright .col-md-7 {
    text-align: right;
}

footer .copyright ul li {
    float: left;
    padding: 0 .5em;
    border-right: 1px solid #948c88;
}

footer .copyright small {
    color: #a3a3a3;
}


/* 返回顶部 */


/* 返回顶部 */


/* 返回顶部 */

.go-top {
    position: fixed;
    width: 41px;
    height: 41px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: none;
}